1 VERSIONINFO
  FILEVERSION 4,0,00{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904E4"
        {
            VALUE "CompanyName"      , "Sistrom Sistemas Web"
            VALUE "FileDescription"  , "SISTEMA DE MONITORAMENTO DE DFe DO TMS.CLOUD"
            VALUE "LegalCopyright"   , "Copyright (c) Sistrom Web"
            VALUE "OriginalFilename" , "DFeMonitor.exe"
            VALUE "ProductName"      , "DFe Monitor"
            VALUE "ProductVersion"   , "4.0.00.Hb.MS"
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x0416, 1252
    }
}
AppIcon ICON "resources\\sistrom48x.ico"
ICONE ICON resources\sistrom48x.ico
mainICON ICON resources\sistrom48x.ico
ntfyICON ICON resources\serverON48x.ico
serverON PNG resources\database.png
serverOFF ICON resources\serverOFF48x.ico
serverWAIT ICON resources\serverWAIT48x.ico
serverFAILED ICON resources\serverFailed48x.ico
icoSetup PNG resources\setup17x.png
folderOpen PNG resources\folder_open.png
about PNG resources\about17x.png
close PNG resources\close17x.png
icoDatabase PNG resources\database24x.png
spy PNG resources\spy16x.png
Submit PNG resources\send_share.png