1 VERSIONINFO
  FILEVERSION 4,0,84{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904E4"
        {
            VALUE "CompanyName"      , "Sistrom Sistemas Web"
            VALUE "FileDescription"  , "SISTEMA DE MONITORAMENTO DE DFe DO TMS.CLOUD"
            VALUE "LegalCopyright"   , "Copyright (c) Sistrom Web"
            VALUE "OriginalFilename" , "DFeMonitor.exe"
            VALUE "ProductName"      , "DFe Monitor"
            VALUE "ProductVersion"   , "4.0.84.Hb.MS"
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x0416, 1252
    }
}
AppIcon ICON "resources\\sistrom48x.ico"
ICONE ICON resources\sistrom48x.ico
mainICON ICON resources\sistrom48x.ico
serverON ICON resources\databaseON.ico
serverOFF ICON resources\databaseOFF.ico
serverWAIT ICON resources\databaseWAIT.ico
icoSetup PNG resources\setup17x.png
folderOpen PNG resources\folder_open.png
about PNG resources\about17x.png
close PNG resources\close17x.png
spy PNG resources\spy16x.png